<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sushant Kunkekar
      <h6>Frontend Developer</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-chip color="primary">Angular</ion-chip>
<ion-chip color="secondary">JavaScript</ion-chip>
<ion-chip color="tertiary">TypeScript</ion-chip>
<ion-chip color="success">HTML</ion-chip>
<ion-chip color="warning">CSS</ion-chip>
<ion-chip color="danger">Bootstrap</ion-chip>
<ion-chip color="dark">Tailwind</ion-chip>
<ion-chip color="success">Angular Material</ion-chip>
<ion-chip color="dark">.NET Core</ion-chip>
<ion-chip color="warning">Azure</ion-chip>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Experience</ion-card-title>
      <ion-card-subtitle>6 Years and 10 Months</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <b>Technologies</b>-HTML, CSS, JavaScript, TypeScript, SQL, Java, C++<br>
      <b>Databases</b>-PostgreSQL, Oracle<br>
      <b>Operating Systems</b>-Windows 10,11, Linux Mint<br>
      <b>Frameworks</b>-Angular, Bootstrap, Angular JS,Angular Material, NodeJS, Tailwind,.NET Core, Spring security MVC<br>
      <b>Data Visualization</b>-Highcharts, amCharts<br>
      <b>Tools</b>-Azure Devops, ServiceNow, Azure Portal, Docker, Visual studio code, Visual studio, Jenkins, Burp suite, Veracode, JIRA, Redmine, Figma<br>
    </ion-card-content>
  </ion-card>
</ion-content>
